[user]
	email = adam@29ways.co.uk
	name = Adam Phillips

[alias]
        st = status
        br = branch
        ci = commit
        cl = clone
        co = checkout
        d = diff --word-diff
        dc = diff --cached
        # list commands
        le = log --oneline --decorate

[color]
        branch = auto
        diff = auto
        status = auto

[color "branch"]
        current = red reverse
        local = blue
        remote = green

[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
        new = green bold

[color "status"]
        added = yellow
        changed = green
        untracked = cyan
[core]
	editor = vim
